* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EAEDED;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    background-color: #232F3E;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

p.G {
    margin-right:470px;
    margin-left:30px;
}

p.N {
    position: right;
    margin-left:530px;
}
/* Contenedor principal izquierda */
div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    margin-top: 70px;
}
div > div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    gap: 10px;
    width: 300px;
    text-align: center;
    flex-direction: column;
}

/* Títulos de secciones */
h2 {
    color: #007185;
    font-size: 20px;
    margin-bottom: 15px;
}
H4 {
    margin-bottom: 10px;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #FF9900;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #B12704;
}

/* Footer */
footer {
    background-color: #232F3E;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    font-size: 20px;
}

footer i {
    margin: 0 10px;
    color: #FF9900;
}

footer p {
    margin: 5px 0;
}
